.tabs {
  display: flex;
  border-bottom: 1px solid #DED8E8;
  background: white;
}

.tab {
  cursor: pointer;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  &.active {
    color: #7D3CE9;
    border-bottom: 1px solid #7D3CE9;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
}



