.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.link {
  color: #7D3CE9;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}
.leaf {
  color: #3D3D3D;
  font-size: 12px;
  font-weight: 400;
}
.chevron {
  color: #7D3CE9;
  width: 16px;
  height: 16px;
}